@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Playfair+Display&display=swap");

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.items{
  list-style-type:none;
}
.upperMenu{
  height: 50px;
  color: #212121;
}
#logoLink{
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #212121;
  position: absolute;
  left: 5px;
  top: 10px;
}
.logLink{
  color: #212121;
  position: absolute;
  right: 5px;
  top: 10px;
}
#registerLink{
  color: #212121;
  position: absolute;
  right: 70px;
  top: 10px;
}
.registerComponent{
  text-align: center;
}
#profileLink{
  color: #212121;
  position: absolute;
  top: 10px;
  right: 180px;
}
