.location,
.memberSince {
    padding-right: 20px;
}

.userHomepage {
    font-size: 14px;
}

.userProfileIcon {
    font-size: 7em;
}

.PersonalInfo {
    padding: 5px 20px;
    display: inline;
}


